.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    width: fit-content;
    margin: auto;
}

/* Insira o código abaixo */

.container1 {
    /* deixando na posição "padrão", sendo ela mudando o eixo de posição dos quadrados da vertical para o horizontal */
    flex-direction: row;
    display : flex;
}

.container2 {
    /* Colocando  os quadrados no final da barra horizontal*/
    flex-direction: row;
    display : flex;
    justify-content : flex-end;
}

.container3 {
    /* Colocando os quadrados no centro da barra horizontal */
   flex-direction: row;
    display : flex;
    justify-content : center;
}

.container4 {
    /* Colocando um espaçamento por igual entre OS QUADRADOS */
    flex-direction: row;
    display : flex;
    justify-content: space-between
}
.container5 {
    /* Colocando um espaçamento por igual entre TODOS OS OBJETOS  */
    /* isto é : um espaçamento por igual entre as bordas dos objetos, parede e quadrados tem a mesma distancia */
    flex-direction: row;
    display : flex;
    justify-content: space-around;
}
.container6 {
    /* colocando um espaçamento por igual estre os quadrados, e aplicando isto em um espaçamento entre o quadrado e a borda */
    flex-direction: row;
    display : flex;
    justify-content: space-evenly;
}